
.link-text {
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.link-text:hover {
    color: var(--el-color-primary);
}

.card-border {
    border: 1px solid #eee;
    transition: all 0.25s ease-in-out;
}

.card-border:hover {
    border: 1px solid var(--el-color-primary-light-9);
    box-shadow: 0 0 5px var(--el-color-primary-light-5);
}